.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  width: 100%;
}
body> header{
 position: sticky;
 top: 0;
 left: 0;
 width: 100%;
 list-style-type: none;
 margin: none;
 padding-top: 0px;
 margin-top: 0px;
 margin-left: 0%;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.buttons{
  margin-right: 20%;
  display: inline-flex;
  margin-top: 4%;
  }


.info{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.date{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.style{
   float: right;
}
.card{
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   margin-top: 10%;
   -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px

}
.image{
   margin-right: 35%;
   margin-left: 35%;
}
.com{
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;	
   border-radius:8px
}
.super{
   float: left;
}